extends layout

block content
  h1(id="high") Addressbook Application
  div(class="container")
    form(name="login", action="/login", method="post")
      h2(id="hep") Login Addressbook 
      input(type="text", name="username", placeholder="Username")
      input(type="text", name="password", placeholder="Password")
      p
      input(type="submit", value="login")
      br
      div(id="registerHere") Not registered yet,
       a(href="/register")   Register here
  script.
        $(".container").mouseover(function() {
            $(this).css('background-color', 'yellow');
            });
        $( ".container" ).mouseleave(function() {
            $(this).css('background-color', 'white');
            });