body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF  
.container
  position: relative
  margin: 100px auto auto
  width: 300px
.container h1
  color:blue
.address
  font-size: 14px
  color: blue
  position: relative
  margin: 100px auto auto
.taulukko
  position: relative
  margin: 100px auto auto
  width: 300px
.addToAddressBook
  font-size: 24px
  color: blue
  
  main h1 { background: #ccc; }