body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF  
  text-decoration: none;
.container
  position: relative
  margin: 10px auto 20px auto
  width: 400px
  padding-top: 25px
  padding-right: 50px
  padding-bottom: 50px
  padding-left: 50px
  border-style: solid
  border-width: 5px
  border-color: black
  border-radius: 15px
  text-decoration: none
  background-color: white
h1#high
  width: 400px
  margin: 10px auto 20px auto
  text-align: center
  color: black
  background-color: white
  border-style: solid
  border-width: 5px
  border-color: black
  border-radius: 15px
  padding-top: 10px
  padding-right: 50px
  padding-bottom: 10px
  padding-left: 50px
  text-decoration: none;
.address
  font-size: 14px
  color: blue
  position: relative
  margin: 100px auto auto
.taulukko
  position: relative
  margin: 100px auto auto
  width: 300px
.addToAddressBook
  font-size: 24px
  color: blue

  main h1 { background: #ccc; }